@{
         AuthData obj;    
    if(Session["Current"]==null)
    {
          obj=new AuthData();
         Session["Current"]=obj;
    }
    else
    {
        obj =(AuthData)Session["Current"];
    }
 
     if(IsPost){
      obj.getAuth(Request["username"],Request["password"]);
      }
}

<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Our Site </title>

    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styleall.css">
    <link href="http://fonts.googleleapis.com/css?family=raleway:400,300,500,600,700"rel="stylesheet"type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <!--Header-->

    <header id="home">
      <div class= "container-fluid">
        <nav class="row mainrow navbar-fixed-top">
          <div class="col-lg-1 logo"><img src="images\logo.png" class="img-responsive logo" alt="logo"></div>
         <!-- .------------------------------------------------------------------------------------------------------------------------ -->
           <div class="col-lg-7 menu">
                   <div class="navbar navbar-default">
          
                      <!-- Brand and toggle get grouped for better mobile display -->
                     <div class="navbar-header" >
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>  
             
                      </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse " id="mainmenu"   role="tabpanel">

                            <ul class="nav navbar-nav mainmenu">
                              <li class="active" role="presentation"><a href="#home"> الصفحة الرئيسية <span class="sr-only">(current)</span></a></li>
                              <li><a href="#courses">المواد الدراسية</a></li>
                              <li><a href="#">الجداول الدراسيه  </a></li>
                              <li ><a href="#about">عن الكلية</a></li>
                              <!-- After Login-->
                              <!--<li><a href="#">تقاريرى</a></li>-->
                              <li ><a href="#contact">اتصل بنا </a></li>

                
                             </ul>
                             <ul>

              
              
                             </div><!-- /.navbar-collapse -->
      
             </div>
             </div>  
           <!-- -------------------------------------------------------------------------------------------------------------------------- -->
       
           @{
            if(obj.loginFlage==false){
           @Navbar.BeforeLogin()
            if(obj.loginTry!=0){
                <script>
                    alert("@obj.message");
                </script>
            }

            }else{
                @Navbar.AfterLogin(obj.name,obj.user_img)
            }


          
}

         
         
       </nav>
      </div>

        <!-- <div class="clearfix"></div> -->
       
 <!-- Live Courses div Beginning -->
             <div class="liveo" >
              <div class="container-fluid">


                <div class="row">


                  <div class="col-lg-2 controleft">

                    <a href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>

                  </div>


                  <div class="col-lg-8"> 


           
                  <!-- Carsoul begins -->
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="12000">

                    <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">
                      <!-- First item -->
                      <div class="item active">








                    <!-- Live Courses div Beginning -->
                    <div class="live">

                       <div class="liveHeader">
                   

                        <h1>مقدمة علوم الحاسب</h1>
                        
                         <h6>بدأت منذ 6 دقائق</h6>
                         <!-- End of liverHeader -->
                         </div>

                         <div class="details">

                         <h3 class="pull-right">أستاذ دكتور: محمد وحيد <span class="glyphicon glyphicon-record"></span> </h3>
                         <h3 class="pull-right">تبدأ الساعة: 9:00</h3>
                         <h3 class="pull-right">تنتهى الساعة: 11:00</h3>
                         <h3 class="pull-right">المكان: مدرج 4</h3>
              
                         <div class="liveParagraph">
                            
                        <p>مادة علوم الحاسب هى من المواد الأساسية بكلية الحاسبات والمعلومات ويجب تدريسها</p>
                        <a href="#">اعرف أكثر</a>
                          
                       <!-- End OF liveParagraph -->
                        </div>


                    <!-- End Of details -->
                    </div>
    
                  <img src="images/m1.jpg" class="img-responsive"> 
                                      
                                      
              
                  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d858.5130692614085!2d32.30379851897965!3d30.604288665368315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f85904bbe40adb%3A0xb33dae4d688c448a!2z2YXYr9ix2KwgNCDZgdmKINmD2YTZitipINin2YTYrdin2LPYqNin2Kog2YjYp9mE2YXYudmE2YjZhdin2KrYjCDYp9mE2KXYs9mF2KfYudmK2YTZitip2Iwg2YXYtdix!5e0!3m2!1sar!2seg!4v1429626057489" width="200" height="151" frameborder="0" style="border:1">No Connection</iframe>              
              

              <!-- End of live -->
              </div>



        </div>



        <!-- item 3 -->
        <div class="item">
          <!-- Live Courses div Beginning -->
                    <div class="live">

                       <div class="liveHeader">
                   

                        <h1>مقدمة قواعد البيانات</h1>
                        
                         <h6>بدأت منذ 4 دقائق</h6>
                         <!-- End of liverHeader -->
                         </div>

                         <div class="details">

                         <h3 class="pull-right">أستاذ دكتور: محمد وحيد <span class="glyphicon glyphicon-record" style="color:#7f8c8d;"></span> </h3>
                         <h3 class="pull-right">تبدأ الساعة: 9:00</h3>
                         <h3 class="pull-right">تنتهى الساعة: 11:00</h3>
                         <h3 class="pull-right">المكان: مدرج 4</h3>
              
                         <div class="liveParagraph">
                            
                        <p>مادة علوم الحاسب هى من المواد الأساسية بكلية الحاسبات والمعلومات ويجب تدريسها</p>
                        <a href="#">اعرف أكثر</a>
                          
                       <!-- End OF liveParagraph -->
                        </div>


                    <!-- End Of details -->
                    </div>
    
                  <img src="images/m1.jpg" class="img-responsive"> 
                                      
                                      
              
                  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d858.5130692614085!2d32.30379851897965!3d30.604288665368315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f85904bbe40adb%3A0xb33dae4d688c448a!2z2YXYr9ix2KwgNCDZgdmKINmD2YTZitipINin2YTYrdin2LPYqNin2Kog2YjYp9mE2YXYudmE2YjZhdin2KrYjCDYp9mE2KXYs9mF2KfYudmK2YTZitip2Iwg2YXYtdix!5e0!3m2!1sar!2seg!4v1429626057489" width="200" height="151" frameborder="0" style="border:1">No Connection</iframe>              
              

              <!-- End of live -->
              </div>

         <!--end of list 2  -->
       </div>



              <div class="item">
          <!-- Live Courses div Beginning -->
                    <div class="live">

                       <div class="liveHeader">
                   

                        <h1>النمذجة والمحاكاة</h1>
                        
                         <h6>بدأت منذ 6 دقائق</h6>
                         <!-- End of liverHeader -->
                         </div>

                         <div class="details">

                         <h3 class="pull-right">أستاذ دكتور: محمد وحيد <span class="glyphicon glyphicon-record"></span> </h3>
                         <h3 class="pull-right">تبدأ الساعة: 9:00</h3>
                         <h3 class="pull-right">تنتهى الساعة: 11:00</h3>
                         <h3 class="pull-right">المكان: مدرج 4</h3>
              
                         <div class="liveParagraph">
                            
                        <p>مادة علوم الحاسب هى من المواد الأساسية بكلية الحاسبات والمعلومات ويجب تدريسها</p>
                        <a href="#">اعرف أكثر</a>
                          
                       <!-- End OF liveParagraph -->
                        </div>


                    <!-- End Of details -->
                    </div>
    
                  <img src="images/m1.jpg" class="img-responsive"> 
                                      
                                      
              
                  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d858.5130692614085!2d32.30379851897965!3d30.604288665368315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f85904bbe40adb%3A0xb33dae4d688c448a!2z2YXYr9ix2KwgNCDZgdmKINmD2YTZitipINin2YTYrdin2LPYqNin2Kog2YjYp9mE2YXYudmE2YjZhdin2KrYjCDYp9mE2KXYs9mF2KfYudmK2YTZitip2Iwg2YXYtdix!5e0!3m2!1sar!2seg!4v1429626057489" width="200" height="151" frameborder="0" style="border:1">No Connection</iframe>              
              

              <!-- End of live -->
              </div>

         <!--end of list 2  -->
       </div>





        <!-- End of carsoul -->
        </div>
        <!-- End of Live -->
                  </div>

            
                   <!-- End of col-lg-10 -->
                </div>

                  <!-- Control left -->
                  <div class="col-lg-2 controleft">

                    <a href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>

                    

                   
                  </div>


                 
                <!-- End of row -->
              </div>
            <!-- End of Containner -->
             </div>
             <!-- End of liveo -->
            </div> 
             

    


    </header>

    <!--end of header-->






<!-------------------------------------------------------------------------------------------------->








       <div class="clearfix"></div>


       <!-- Begin of courses div -->
       <div class="courses" id="courses">
     <div class="container-fluid">
        <div class="row coursesRow">
        
         
  <div class="btn-group-vertical col-lg-11 pull-center  icons " role="group" aria-label="...">
            <a href="index2.html" class="btn btn-primary btn-lg btn-block ">الفرقة الاولي </a><br>
            <a href="index2.html" class="btn btn-primary btn-lg btn-block" >الفرقة الثانية </a><br>
             <a class="btn btn-primary  btn-lg" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    الفرقة الثالثة
            </a>
            <div class="collapse" id="collapseExample">
               <div class="well">
                    <a href="index2.html" class="btn btn-primary btn-lg  btn-block ">IS </a>
                    <a href="index2.html" class="btn btn-primary btn-lg  btn-block ">CS </a>
           </div>
           </div> <br>




    <a class="btn btn-primary  btn-lg" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                   الفرقة الرابعة
            </a>
            <div class="collapse" id="collapseExample2">
               <div class="well">
                    <a href="index2.html" class="btn btn-primary btn-lg  btn-block   ">IS </a>
                    <a href="index2.html" class="btn btn-primary btn-lg  btn-block  ">CS </a>
              </div>
          </div>
 </div>
  </div>
   </div>
    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------->
<!--about-->
<div class="about" id="about">
         <div class="container">
              <div class="row">
                  <!-- <div class="col-lg-12">-->
                   

                   <div class="col-lg-12">

                     <p class=" forfci   text-right  " ><font size="36" color="#FFFF00">عن الكلية</font> <br><br><br>
                       <class=" text-right">تؤدي كليات الحاسبات والمعلومات خدمة عظيمة للمجتمع لاسيما مع انتشار استخدام الحاسب الالي ودخولة كافة القطاعات واتجاه  
                        الدولة بمؤسساتها الي التحول الي الحكومة والمؤسسات الالكترونية ويجد خريجين تلك الكليات فرص عمل بسهولة نظرا للطلب
                        المتزايد علي<br> المهارات التي يمتلكونها ولهذا السبب ولدت كليات الحاسبات ككليات قمة وهو مالا يحدث لغيرها من الكليات , وتولي 
                        جامعة قناة السويس<br> عناية خاصة لكلية الحاسبات والمعلومات وذلك لتقوي من بنيانها وتثبيت اقدامها , تعتبر الكلية رافدا هاما لاخصائي
                        الحاسب ذوي المهارات<br> العالية في مجال المكونات المادية ومجال البرمجيات كما تعتبر ذراعا نشطا للبحث العلمي في هذا القطاع حيث
                        تنجز سنويا ابحاث علمية<br> .علي إيدي ابنائها </p>
                        
                        </div>
                       <!-- <div class="col-lg-2"><img src="images1/fci.jpg" width="620" class="img-responsive" alt="bg"></div>-->

                   
              </div>


         </div>


    </div>
    <!--End of About-->

    <!--srart of contact-->
    <div class="contact " id="contact">
   
      <div class="row">
        
       
  <div class="col-lg-9">
    <form>
    
    
  <h1 class="text-right" ><font size="36" color="#FFFF00">اتصل بنا</font></h1><br>
 <center> <div class="form-group">
    
    
    <input type="text" class="form-control to_contact" id="exampleInputEmail1" placeholder="Please Write Your name here !">
  </div>
  
  <div class="form-group">
    
    <input type="text" class="form-control to_contact" id="exampleInputPassword1" placeholder="Please Write Your e-mail here !">
  </div>
 <div class="form-group">
 
  <textarea class="form-control to_contact" rows="9" placeholder="Please Write Your message here !"></textarea>
</div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-10">
  
  <button type="submit" class="btn btn-default"><a href="#"><font color="#ff0">ارسل</font></a></button>

</div>
</div>


</form>
</div></center><br><br><br>
<!--<div class="col-md-3 col-md-push-1">-->
    <div class="myContacts">
 <img src="images1/fb.png"><a target="_blank" href="https://www.facebook.com/fci.union.page"> Facebook.com/FCI.Union</a> <br><br><br>
  
 <img src="images1/index_09.png"><a target="_blank" href="https://www.youtube.com/fci.union.page"> Youtube.com/FCI.Union</a> </div>








</div>
</div>
<!--End of Contact Us-->
    



    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>
  </body>
</html>