@{
   
   var purchasePrice = 120;

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

       @{
        //  o.getAuth("ahmed_adel","ahmed_adel");
         
       /*  int student_id=1;

          
         List<string> lo = new List<string>();
         string [] arr = new string[1];
         arr[0]="Student_name";
         
         lo=(obj.Select("SELECT `Student_name` FROM `students` WHERE `student_id`="+student_id,arr));
         foreach(string li in lo){
             <h1> @li </h1>
        

         }*/
         if(Session["C"]!=null){
             <h1>it doesn't equal null</h1>
         }else{
             <h1>IT emplate is EqualityComparer null</h1>
         }
         }
         
      
        
    </body>
</html>
