.Crs img{
    /* border-radius: 0 0 3px 3px  ;*/
     width: 205px;
     height: 235px;

     
     }


  /* .Crs span {
      font-size: 70px;
      color: #2583b7;
      margin-top:-138px ; 
      margin-left: 165px;
      display: block;  */  

        
  



    .Crs h2{
      color: white !important;
     border-radius: 3px 3px 0 0 ;
     background: #2583b7;
     height: 40px;
     width: 205px;
     margin: 0;
     padding: 0;
     text-align: center;
     font-size: 18px;
     line-height: 40px;

      } 
      /*mwad el fr2a el 2wola */
      .courses{
      /*  background-color: #0841ac;*/
      background: url(images/hd-wallpaper-computer-hd.jpg) center no-repeat;
      min-height:760px;
      width: 100%;

      }

      .N1{
         margin-top: 80px;

      }
      .N2 {
        margin-top: 80px;
      }
      .Crs{
        
      }
      .Crs h2,.Crs img {
       margin-left: 25%;
      }
      .des{
        margin-top: 130px;
      }
  
      
